# 250A Project - Predicting Basketball Game Outcomes with Bayesian Networks

In [ ]:
import pandas as pd
import kagglehub
import os

## Data Loading and EDA

In [2]:
# Only if you wanna download the original dataset and query with sql
# theres also a play_by_play.csv file that was too big to push but ion think we need it
#------------------------------------------------------------------------------------------------
# path = kagglehub.dataset_download("wyattowalsh/basketball")

# print("Path to dataset files:", path)

### DataFrame Descriptions

In [ ]:
data_folder = '../data'
csv_files = [f for f in os.listdir(data_folder) if f.endswith('.csv') and f != 'play_by_play.csv']

print("CSV tables and their descriptions:\n")

for csv_file in csv_files:
    path = os.path.join(data_folder, csv_file)
    try:
        df = pd.read_csv(path, nrows=5)
        print(f"Table: {csv_file}")
        print("Columns:", list(df.columns))
        print(df.head())
        print("\n" + "-"*60 + "\n")
    except Exception as e:
        print(f"Could not read {csv_file}: {e}\n")

CSV tables and their descriptions:

Table: game_info.csv
Columns: ['game_id', 'game_date', 'attendance', 'game_time']
    game_id            game_date  attendance  game_time
0  24600001  1946-11-01 00:00:00         NaN        NaN
1  24600003  1946-11-02 00:00:00         NaN        NaN
2  24600002  1946-11-02 00:00:00         NaN        NaN
3  24600004  1946-11-02 00:00:00         NaN        NaN
4  24600005  1946-11-02 00:00:00         NaN        NaN

------------------------------------------------------------

Table: player.csv
Columns: ['id', 'full_name', 'first_name', 'last_name', 'is_active']
      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0

------------------------------------------------------------

Table: team_history.csv
Columns: ['team_id', 'city', 'nickname', 'year_founded', 'year_active_till']
      team_id        city    nickname  year_founded  year_active_till
0  1610612737     Atlanta       Hawks          1968              2019
1  1610612737   St. Louis       Hawks          1955              1967
2  1610612737   Milwaukee       Hawks          1951              1954
3  1610612737  Tri-Cities  Blackhawks          1949              1950
4  1610612741     Chicago       Bulls          1966              2019

------------------------------------------------------------

Table: team_info_common.csv
Columns: ['team_id', 'season_year', 'team_city', 'team_name', 'team_abbreviation', 'team_conference', 'team_division', 'team_code', 'team_slug', 'w', 'l', 'pct', 'conf_rank', 'div_rank', 'min_year', 'max_year', 'league_id', 'season_id', 'pts_rank', 'pts_pg', 'reb_rank', 'reb_pg', 'ast_rank', 'ast_pg', 'opp_pts_rank', 'opp_pts_pg']
Empty DataFrame
Columns: [team_id, season_year, team_city, team_name, team_abbreviation, team_conference, team_division, team_code, team_slug, w, l, pct, conf_rank, div_rank, min_year, max_year, league_id, season_id, pts_rank, pts_pg, reb_rank, reb_pg, ast_rank, ast_pg, opp_pts_rank, opp_pts_pg]
Index: []

[0 rows x 26 columns]

------------------------------------------------------------

Table: inactive_players.csv
Columns: ['game_id', 'player_id', 'first_name', 'last_name', 'jersey_num', 'team_id', 'team_city', 'team_name', 'team_abbreviation']
    game_id  player_id first_name last_name  jersey_num     team_id  \
0  29600034        184      Bobby    Phills          14  1610612739
1  29600034        781       Will    Perdue          41  1610612759
2  29600132        120     Steven     Smith           8  1610612737
3  29600203        698      Eddie   Johnson           8  1610612754
4  29600213         32   Clifford    Rozier          44  1610612753

     team_city  team_name team_abbreviation
0    Cleveland  Cavaliers               CLE
1  San Antonio      Spurs               SAS
2      Atlanta      Hawks               ATL
3      Indiana     Pacers               IND
4      Orlando      Magic               ORL

------------------------------------------------------------

Table: other_stats.csv
Columns: ['game_id', 'league_id', 'team_id_home', 'team_abbreviation_home', 'team_city_home', 'pts_paint_home', 'pts_2nd_chance_home', 'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied', 'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home', 'team_id_away', 'team_abbreviation_away', 'team_city_away', 'pts_paint_away', 'pts_2nd_chance_away', 'pts_fb_away', 'largest_lead_away', 'team_turnovers_away', 'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away']
    game_id  league_id  team_id_home team_abbreviation_home team_city_home  \
0  29600012          0    1610612756                    PHX        Phoenix
1  29600005          0    1610612737                    ATL        Atlanta
2  29600002          0    1610612739                    CLE      Cleveland
3  29600007          0    1610612754                    IND        Indiana
4  29600013          0    1610612746                    LAC    Los Angeles

   pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0              44                   18            2                  1
1              32                    9            6                  0
2              36                   14            6                 20
3              34                   11            4                 10
4              40                   19            2                 12

   lead_changes  ...  team_abbreviation_away  team_city_away  pts_paint_away  \
0             4  ...                     LAL     Los Angeles              42
1             0  ...                     MIA           Miami              32
2             1  ...                     NJN      New Jersey              26
3             7  ...                     DET         Detroit              30
4             5  ...                     GSW    Golden State              30

   pts_2nd_chance_away  pts_fb_away  largest_lead_away team_turnovers_away  \
0                   10           13                 19                 0.0
1                   15           14                 16                 1.0
2                   16            4                  2                 1.0
3                   14            7                  9                 2.0
4                    9            2                  6                 0.0

  total_turnovers_away  team_rebounds_away  pts_off_to_away
0                 23.0                11.0              NaN
1                 19.0                 6.0              NaN
2                 22.0                12.0              NaN
3                 19.0                10.0              NaN
4                 20.0                 7.0              NaN

[5 rows x 26 columns]

------------------------------------------------------------

Table: officials.csv
Columns: ['game_id', 'official_id', 'first_name', 'last_name', 'jersey_num']
    game_id  official_id first_name  last_name  jersey_num
0  29600059         1140      Bruce  Alexander           9
1  29600059         1165       Luis     Grillo           8
2  29600059         1153        Joe   Crawford          17
3  29600114         1147       Mike   Callahan          24
4  29600114         1142       Dick    Bavetta          27

------------------------------------------------------------

Table: game_summary.csv
Columns: ['game_date_est', 'game_sequence', 'game_id', 'game_status_id', 'game_status_text', 'gamecode', 'home_team_id', 'visitor_team_id', 'season', 'live_period', 'live_pc_time', 'natl_tv_broadcaster_abbreviation', 'live_period_time_bcast', 'wh_status']
         game_date_est  game_sequence   game_id  game_status_id  \
0  1946-11-01 00:00:00            NaN  24600001               3
1  1946-11-02 00:00:00            NaN  24600003               3
2  1946-11-02 00:00:00            NaN  24600002               3
3  1946-11-02 00:00:00            NaN  24600004               3
4  1946-11-02 00:00:00            NaN  24600005               3

   game_status_text         gamecode  home_team_id  visitor_team_id  season  \
0               NaN  19461101/NYKHUS    1610610035       1610612752    1946
1               NaN  19461102/PITBOM    1610610034       1610610031    1946
2               NaN  19461102/BOSPRO    1610610032       1610612738    1946
3               NaN  19461102/NYKCHS    1610610025       1610612752    1946
4               NaN  19461102/WASDEF    1610610028       1610610036    1946

   live_period  live_pc_time  natl_tv_broadcaster_abbreviation  \
0            5           NaN                               NaN
1            4           NaN                               NaN
2            4           NaN                               NaN
3            4           NaN                               NaN
4            4           NaN                               NaN

  live_period_time_bcast  wh_status
0                 Q5  -           1
1                 Q4  -           1
2                 Q4  -           1
3                 Q4  -           1
4                 Q4  -           1

------------------------------------------------------------

Table: draft_combine_stats.csv
Columns: ['season', 'player_id', 'first_name', 'last_name', 'player_name', 'position', 'height_wo_shoes', 'height_wo_shoes_ft_in', 'height_w_shoes', 'height_w_shoes_ft_in', 'weight', 'wingspan', 'wingspan_ft_in', 'standing_reach', 'standing_reach_ft_in', 'body_fat_pct', 'hand_length', 'hand_width', 'standing_vertical_leap', 'max_vertical_leap', 'lane_agility_time', 'modified_lane_agility_time', 'three_quarter_sprint', 'bench_press', 'spot_fifteen_corner_left', 'spot_fifteen_break_left', 'spot_fifteen_top_key', 'spot_fifteen_break_right', 'spot_fifteen_corner_right', 'spot_college_corner_left', 'spot_college_break_left', 'spot_college_top_key', 'spot_college_break_right', 'spot_college_corner_right', 'spot_nba_corner_left', 'spot_nba_break_left', 'spot_nba_top_key', 'spot_nba_break_right', 'spot_nba_corner_right', 'off_drib_fifteen_break_left', 'off_drib_fifteen_top_key', 'off_drib_fifteen_break_right', 'off_drib_college_break_left', 'off_drib_college_top_key', 'off_drib_college_break_right', 'on_move_fifteen', 'on_move_college']
   season  player_id first_name   last_name        player_name position  \
0    2001      12033       Adam  Allenspach    Adam Allenspach        C
1    2001       2240    Gilbert      Arenas     Gilbert Arenas       SG
2    2001       2220    Brandon   Armstrong  Brandon Armstrong       SG
3    2001       2203      Shane     Battier      Shane Battier    SF-PF
4    2001      12034     Cookie     Belcher     Cookie Belcher    SG-PG

   height_wo_shoes height_wo_shoes_ft_in  height_w_shoes  \
0            83.50             6' 11.5''             NaN
1            74.25             6' 2.25''             NaN
2            75.50              6' 3.5''             NaN
3            80.25             6' 8.25''             NaN
4            75.00                6' 3''             NaN

   height_w_shoes_ft_in  ...  spot_nba_break_right  spot_nba_corner_right  \
0                   NaN  ...                   NaN                    NaN
1                   NaN  ...                   NaN                    NaN
2                   NaN  ...                   NaN                    NaN
3                   NaN  ...                   NaN                    NaN
4                   NaN  ...                   NaN                    NaN

  off_drib_fifteen_break_left  off_drib_fifteen_top_key  \
0                         NaN                       NaN
1                         NaN                       NaN
2                         NaN                       NaN
3                         NaN                       NaN
4                         NaN                       NaN

  off_drib_fifteen_break_right  off_drib_college_break_left  \
0                          NaN                          NaN
1                          NaN                          NaN
2                          NaN                          NaN
3                          NaN                          NaN
4                          NaN                          NaN

   off_drib_college_top_key  off_drib_college_break_right  on_move_fifteen  \
0                       NaN                           NaN              NaN
1                       NaN                           NaN              NaN
2                       NaN                           NaN              NaN
3                       NaN                           NaN              NaN
4                       NaN                           NaN              NaN

   on_move_college
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 47 columns]

------------------------------------------------------------

Table: team_details.csv
Columns: ['team_id', 'abbreviation', 'nickname', 'yearfounded', 'city', 'arena', 'arenacapacity', 'owner', 'generalmanager', 'headcoach', 'dleagueaffiliation', 'facebook', 'instagram', 'twitter']
      team_id abbreviation   nickname  yearfounded          city  \
0  1610612737          ATL      Hawks       1949.0       Atlanta
1  1610612741          CHI      Bulls       1966.0       Chicago
2  1610612742          DAL  Mavericks       1980.0        Dallas
3  1610612743          DEN    Nuggets       1976.0        Denver
4  1610612744          GSW   Warriors       1946.0  Golden State

                      arena  arenacapacity              owner  \
0          State Farm Arena        18729.0       Tony Ressler
1             United Center        21711.0  Michael Reinsdorf
2  American Airlines Center        19200.0         Mark Cuban
3                Ball Arena            NaN       Stan Kroenke
4              Chase Center            NaN          Joe Lacob

       generalmanager       headcoach     dleagueaffiliation  \
0      Travis Schlenk     Quin Snyder  College Park Skyhawks
1  Arturas Karnisovas   Billy Donovan       Windy City Bulls
2       Nico Harrison      Jason Kidd          Texas Legends
3        Calvin Booth  Michael Malone      Grand Rapids Gold
4           Bob Myers      Steve Kerr    Santa Cruz Warriors

                                 facebook                           instagram  \
0          https://www.facebook.com/hawks      https://instagram.com/atlhawks
1   https://www.facebook.com/chicagobulls  https://instagram.com/chicagobulls
2     https://www.facebook.com/dallasmavs    https://instagram.com/dallasmavs
3  https://www.facebook.com/DenverNuggets       https://instagram.com/nuggets
4       https://www.facebook.com/warriors      https://instagram.com/warriors

                            twitter
0      https://twitter.com/ATLHawks
1  https://twitter.com/chicagobulls
2    https://twitter.com/dallasmavs
3       https://twitter.com/nuggets
4      https://twitter.com/warriors

------------------------------------------------------------

Table: draft_history.csv
Columns: ['person_id', 'player_name', 'season', 'round_number', 'round_pick', 'overall_pick', 'draft_type', 'team_id', 'team_city', 'team_name', 'team_abbreviation', 'organization', 'organization_type', 'player_profile_flag']
   person_id       player_name  season  round_number  round_pick  \
0      79299  Clifton McNeeley    1947             1           1
1      78109        Glen Selbo    1947             1           2
2      76649      Eddie Ehlers    1947             1           3
3      79302        Walt Dropo    1947             1           4
4      77048        Dick Holub    1947             1           5

   overall_pick draft_type     team_id   team_city     team_name  \
0             1      Draft  1610610031  Pittsburgh       Ironmen
1             2      Draft  1610610035     Toronto       Huskies
2             3      Draft  1610612738      Boston       Celtics
3             4      Draft  1610610032  Providence  Steamrollers
4             5      Draft  1610612752    New York        Knicks

  team_abbreviation          organization   organization_type  \
0               PIT         Texas-El Paso  College/University
1               HUS             Wisconsin  College/University
2               BOS                Purdue  College/University
3               PRO           Connecticut  College/University
4               NYK  Long Island-Brooklyn  College/University

   player_profile_flag
0                    0
1                    1
2                    1
3                    0
4                    1

------------------------------------------------------------

Table: line_score.csv
Columns: ['game_date_est', 'game_sequence', 'game_id', 'team_id_home', 'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home', 'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home', 'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home', 'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home', 'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home', 'pts_home', 'team_id_away', 'team_abbreviation_away', 'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away', 'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away', 'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away', 'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away', 'pts_ot9_away', 'pts_ot10_away', 'pts_away']
         game_date_est  game_sequence   game_id  team_id_home  \
0  1946-11-01 00:00:00            NaN  24600001    1610610035
1  1946-11-02 00:00:00            NaN  24600003    1610610034
2  1946-11-02 00:00:00            NaN  24600002    1610612738
3  1946-11-02 00:00:00            NaN  24600004    1610610025
4  1946-11-02 00:00:00            NaN  24600005    1610610036

  team_abbreviation_home team_city_name_home team_nickname_home  \
0                    HUS             Toronto            Huskies
1                    BOM           St. Louis            Bombers
2                    BOS              Boston            Celtics
3                    CHS             Chicago              Stags
4                    WAS          Washington           Capitols

  team_wins_losses_home  pts_qtr1_home  pts_qtr2_home  ...  pts_ot2_away  \
0                     -            NaN            NaN  ...           NaN
1                     -           16.0           16.0  ...           NaN
2                     -           10.0           16.0  ...           NaN
3                     -            NaN            NaN  ...           NaN
4                     -           21.0            4.0  ...           NaN

   pts_ot3_away  pts_ot4_away  pts_ot5_away  pts_ot6_away  pts_ot7_away  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN

   pts_ot8_away  pts_ot9_away  pts_ot10_away  pts_away
0           NaN           NaN            NaN      68.0
1           NaN           NaN            NaN      51.0
2           NaN           NaN            NaN      59.0
3           NaN           NaN            NaN      47.0
4           NaN           NaN            NaN      33.0

[5 rows x 43 columns]

------------------------------------------------------------

Table: common_player_info.csv
Columns: ['person_id', 'first_name', 'last_name', 'display_first_last', 'display_last_comma_first', 'display_fi_last', 'player_slug', 'birthdate', 'school', 'country', 'last_affiliation', 'height', 'weight', 'season_exp', 'jersey', 'position', 'rosterstatus', 'games_played_current_season_flag', 'team_id', 'team_name', 'team_abbreviation', 'team_code', 'team_city', 'playercode', 'from_year', 'to_year', 'dleague_flag', 'nba_flag', 'games_played_flag', 'draft_year', 'draft_round', 'draft_number', 'greatest_75_flag']
   person_id first_name     last_name   display_first_last  \
0      76001       Alaa     Abdelnaby       Alaa Abdelnaby
1      76003     Kareem  Abdul-Jabbar  Kareem Abdul-Jabbar
2       1505      Tariq   Abdul-Wahad    Tariq Abdul-Wahad
3        949    Shareef   Abdur-Rahim  Shareef Abdur-Rahim
4      76005        Tom     Abernethy        Tom Abernethy

  display_last_comma_first  display_fi_last          player_slug  \
0          Abdelnaby, Alaa     A. Abdelnaby       alaa-abdelnaby
1     Abdul-Jabbar, Kareem  K. Abdul-Jabbar  kareem-abdul-jabbar
2       Abdul-Wahad, Tariq   T. Abdul-Wahad    tariq-abdul-wahad
3     Abdur-Rahim, Shareef   S. Abdur-Rahim  shareef-abdur-rahim
4           Abernethy, Tom     T. Abernethy        tom-abernethy

             birthdate          school country  ...  \

In [5]:
players = pd.read_csv('../data/player.csv')

In [9]:
active_players = players[players['is_active'] == 1]
active_players

           id         full_name first_name  last_name  is_active
10    1630173  Precious Achiuwa   Precious    Achiuwa          1
22     203500      Steven Adams     Steven      Adams          1
24    1628389       Bam Adebayo        Bam    Adebayo          1
29    1630534      Ochai Agbaji      Ochai     Agbaji          1
41    1630583      Santi Aldama      Santi     Aldama          1
...       ...               ...        ...        ...        ...
4806   201152    Thaddeus Young   Thaddeus      Young          1
4808  1629027        Trae Young       Trae      Young          1
4809  1630209    Omer Yurtseven       Omer  Yurtseven          1
4812   203469       Cody Zeller       Cody     Zeller          1
4829  1627826       Ivica Zubac      Ivica      Zubac          1

[582 rows x 5 columns]

In [15]:
games = pd.read_csv('../data/game.csv')
games.sort_values('game_date').tail(20)

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
65675,42022,1610612755,PHI,Philadelphia 76ers,42200216,2023-05-11 00:00:00,PHI vs. BOS,L,240,30.0,...,50.0,22.0,7.0,6.0,18.0,14.0,95.0,9,1,Playoffs
65677,42022,1610612747,LAL,Los Angeles Lakers,42200236,2023-05-12 00:00:00,LAL vs. GSW,W,240,39.0,...,53.0,25.0,3.0,2.0,11.0,30.0,101.0,-21,1,Playoffs
65678,42022,1610612748,MIA,Miami Heat,42200206,2023-05-12 00:00:00,MIA vs. NYK,W,240,33.0,...,41.0,13.0,2.0,9.0,12.0,22.0,92.0,-4,1,Playoffs
65679,42022,1610612738,BOS,Boston Celtics,42200217,2023-05-14 00:00:00,BOS vs. PHI,W,240,41.0,...,37.0,15.0,4.0,7.0,14.0,14.0,88.0,-24,1,Playoffs
65680,42022,1610612743,DEN,Denver Nuggets,42200311,2023-05-16 00:00:00,DEN vs. LAL,W,240,50.0,...,30.0,30.0,6.0,4.0,7.0,21.0,126.0,-6,1,Playoffs
65681,42022,1610612738,BOS,Boston Celtics,42200301,2023-05-17 00:00:00,BOS vs. MIA,L,240,42.0,...,35.0,20.0,12.0,3.0,15.0,22.0,123.0,7,1,Playoffs
65682,42022,1610612743,DEN,Denver Nuggets,42200312,2023-05-18 00:00:00,DEN vs. LAL,W,240,39.0,...,40.0,26.0,10.0,7.0,12.0,19.0,103.0,-5,1,Playoffs
65683,42022,1610612738,BOS,Boston Celtics,42200302,2023-05-19 00:00:00,BOS vs. MIA,L,240,37.0,...,45.0,23.0,9.0,5.0,11.0,17.0,111.0,6,1,Playoffs
65684,42022,1610612747,LAL,Los Angeles Lakers,42200313,2023-05-20 00:00:00,LAL vs. DEN,L,240,38.0,...,39.0,30.0,7.0,1.0,6.0,19.0,119.0,11,1,Playoffs
65685,42022,1610612748,MIA,Miami Heat,42200303,2023-05-21 00:00:00,MIA vs. BOS,W,240,46.0,...,57.0,25.0,3.0,3.0,15.0,24.0,102.0,-26,1,Playoffs
65686,42022,1610612747,LAL,Los Angeles Lakers,42200314,2023-05-22 00:00:00,LAL vs. DEN,L,240,40.0,...,40.0,25.0,3.0,9.0,11.0,20.0,113.0,2,1,Playoffs
65687,42022,1610612748,MIA,Miami Heat,42200304,2023-05-23 00:00:00,MIA vs. BOS,L,240,34.0,...,39.0,28.0,8.0,8.0,10.0,24.0,116.0,17,1,Playoffs
65688,42022,1610612738,BOS,Boston Celtics,42200305,2023-05-25 00:00:00,BOS vs. MIA,W,240,40.0,...,36.0,20.0,6.0,2.0,16.0,13.0,97.0,-13,1,Playoffs
65689,42022,1610612748,MIA,Miami Heat,42200306,2023-05-27 00:00:00,MIA vs. BOS,L,240,33.0,...,47.0,18.0,4.0,8.0,12.0,22.0,104.0,1,1,Playoffs
65690,42022,1610612738,BOS,Boston Celtics,42200307,2023-05-29 00:00:00,BOS vs. MIA,L,240,32.0,...,42.0,26.0,7.0,2.0,14.0,15.0,103.0,19,1,Playoffs
65691,42022,1610612743,DEN,Denver Nuggets,42200401,2023-06-01 00:00:00,DEN vs. MIA,W,240,40.0,...,43.0,26.0,5.0,4.0,8.0,15.0,93.0,-11,1,Playoffs
65692,42022,1610612743,DEN,Denver Nuggets,42200402,2023-06-04 00:00:00,DEN vs. MIA,L,240,39.0,...,31.0,28.0,5.0,4.0,11.0,22.0,111.0,3,1,Playoffs
65693,42022,1610612748,MIA,Miami Heat,42200403,2023-06-07 00:00:00,MIA vs. DEN,L,240,34.0,...,58.0,28.0,3.0,5.0,14.0,18.0,109.0,15,1,Playoffs
65694,42022,1610612748,MIA,Miami Heat,42200404,2023-06-09 00:00:00,MIA vs. DEN,L,240,35.0,...,34.0,26.0,11.0,7.0,8.0,18.0,108.0,13,1,Playoffs
65695,42022,1610612743,DEN,Denver Nuggets,42200405,2023-06-12 00:00:00,DEN vs. MIA,W,240,38.0,...,44.0,18.0,9.0,7.0,8.0,21.0,89.0,-5,1,Playoffs

In [16]:
games.describe()

,season_id,team_id_home,game_id,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,...,dreb_away,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away
count,65698.000000,6.569800e+04,6.569800e+04,65698.000000,65685.000000,50251.000000,50208.000000,52480.000000,47015.000000,46624.000000,...,46700.000000,49973.000000,49897.000000,46849.000000,47073.000000,47013.000000,62847.000000,65698.000000,65698.000000,65698.000000
mean,22949.338747,1.609926e+09,2.584747e+07,221.003486,39.672269,83.992796,0.467321,5.735099,17.741146,0.346136,...,30.238073,42.119645,22.135419,7.854148,4.681537,15.199860,23.097284,100.991567,-3.627569,0.201330
std,5000.305500,3.324313e+07,6.303760e+06,67.903521,6.770802,9.164445,0.059423,4.537337,10.545810,0.151234,...,5.588675,6.867396,5.380805,3.031766,2.500820,4.299798,5.227208,14.418755,13.091395,0.400997
min,12005.000000,4.500000e+01,1.050000e+07,0.000000,4.000000,0.000000,0.140000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,-73.000000,0.000000
25%,21981.000000,1.610613e+09,2.130053e+07,240.000000,35.000000,78.000000,0.427000,2.000000,10.000000,0.261000,...,26.000000,37.000000,18.000000,6.000000,3.000000,12.000000,20.000000,92.000000,-12.000000,0.000000
50%,21997.000000,1.610613e+09,2.630007e+07,240.000000,40.000000,84.000000,0.467000,5.000000,16.000000,0.348000,...,30.000000,42.000000,22.000000,8.000000,4.000000,15.000000,23.000000,101.000000,-4.000000,0.000000
75%,22011.000000,1.610613e+09,2.880069e+07,240.000000,44.000000,89.000000,0.506000,9.000000,24.000000,0.429750,...,34.000000,47.000000,26.000000,10.000000,6.000000,18.000000,26.000000,110.000000,5.000000,0.000000
max,42022.000000,1.610617e+09,4.980009e+07,365.000000,84.000000,240.000000,0.697000,28.000000,77.000000,1.000000,...,60.000000,90.000000,89.000000,27.000000,19.000000,40.000000,115.000000,196.000000,68.000000,1.000000

In [17]:
games.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')

## Modeling

In [ ]:
# prob use pgmpy or pomegranate for bayesian networks